*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 16px;
}
img{
  max-width: 100%;
  max-height: 100%;
}
nav.visible-nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3626a7;
}
div.logo {
  flex: 1;
}

div.logo h1 {
  font-family: "Big Shoulders Stencil Text", cursive;
  word-spacing: 0.25rem;
  letter-spacing: 0.125rem;
  font-size: 2.25rem;
  white-space: nowrap;
}

div.logo h1 a {
  color: #fbfbfb;
  text-decoration: none;
}

div.nav-links {
  flex: 2;
}

div.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

div.nav-links ul li {
  padding: 0.5rem 1rem;
}

div.nav-links ul li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  color: #fbfbfb;
  position: relative;
  top: 0;
  left: 0;
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
}

div.nav-links ul li a::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  transition: 0.25s ease-in;
  background-color: #fbfbfb;
}

div.nav-links ul li a:hover:after {
  height: 3px;
  width: 100%;
}

div.social-links {
  flex: 1;
}
div.social-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

div.social-links ul li:first-child {
  margin-right: 1rem;
}

div.social-links ul li a {
  font-size: 1.5rem;
  color: #fbfbfb;
}

div.burger-menu-container {
  flex: 0;
  display: none;
}

div.burger-menu-container span.burger-menu::before {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #fbfbfb;
  box-shadow: 0 10px 0 #fbfbfb;
  transform: translateY(-10px);
  transition: 0.25s ease-in;
}

div.burger-menu-container span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: relative;
  background-color: transparent;
  transition: 0.25s ease-in;
  cursor: pointer;
}

div.burger-menu-container span.burger-menu::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #fbfbfb;
  transform: translateY(10px);
  transition: 0.25s ease-in;
}

div.burger-menu-container span.burger-menu:hover::before {
  box-shadow: none;
  transform: translateY(0) rotate(135deg);
  transition: 0.25s ease-in;
}

div.burger-menu-container span.burger-menu:hover::after {
  transform: translateY(0) rotate(-135deg);
  transition: 0.25s ease-in;
}

/* Hidden NAV */

nav.hidden-nav {
  position: fixed;
  min-height: 50vh;
  width: 0;
  overflow: hidden;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px;
  justify-content: center;
  align-content: center;
  background-color: #fdfdfd;
  z-index: 10;
  transition: 0.5s ease-in;
  box-shadow: 3px 3px 10px #333333, -1px -1px 10px #333333;
}
div.burger-menu-container:hover nav.hidden-nav {
  width: 97vw;
}

nav.hidden-nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

nav.hidden-nav > ul li:not(:last-child) {
  padding: 0.75rem 1rem;
  text-align: center;
  border-bottom: 3px solid #333333;
}

nav.hidden-nav > ul li a {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  transition: 0.25s;
}
li.hidden-nav-social-link-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  transition: 0.25s;
}

nav.hidden-nav > ul li a:hover,
li.hidden-nav-social-link-container:hover{
  font-size: 1.75rem;
  color: #000000;
  font-weight: bold;
}


/* Header */

header{
  min-height: 550px;
  border-radius: 0 0 0 10rem;
  position: relative;
}
header div.header-bg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1;
}
div.header-bg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0 0 0 10rem;
}

header::after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #000000;
  border-radius: 0 0 0 10rem;
  z-index: -1;
}
div.header-content{
  min-height: inherit;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
div.header-desc{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fdfdfd;
}

div.header-desc h1{
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.25rem;
  text-align: center;
  font-family: "Big Shoulders Display", sans-serif;
}

div.header-desc p{
  padding: 1rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif
}


div.header-btn-container{
  display:flex;
  justify-content: center;
  align-items: flex-start;
}
a.header-btn{
  padding: 1rem 2rem;
  /* color: #323232; */
  color: #fdfdfd;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 0.5rem;
  font-weight: 700;
  background-color: #3626a7;
  white-space: nowrap;
  letter-spacing: 0.0125rem;
}

main{
  margin-top: 7rem;
  padding: 2rem;
}
h1.section-title{
  text-align: center;
  margin: 2rem auto;
  font-family: 'Ubuntu', sans-serif; 
  font-size: 2.75rem;
}
section#about{
  padding: 2rem;
  min-height: 80vh;
  max-width: 99vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  grid-template-areas: 'aboutMe' 'profileImg';
}
article.about-me{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-area: aboutMe;
}

article.about-me p{
  text-align: center;
  font-family: 'Inter', sans-serif; 
  line-height: 1.75rem;
}

article.profile figure{
  grid-area: profileImg;
}

article.profile figure img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

article.profile figure figcaption{
  text-align: center;
  font-size: 1.25rem;
font-family: 'Lexend Deca', sans-serif;

}

@media screen and (max-width: 864px) {
  nav.visible-nav {
    justify-content: space-between;
  }
  div.logo {
    flex: 0;
  }

  div.nav-links {
    display: none;
  }
  div.social-links {
    display: none;
  }
  div.burger-menu-container {
    display: block;
  }
}
@media screen and (max-width: 732px) {
  main{
    padding: 0.5rem;
  }
  section#about{
    padding: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas: 'profileImg' 'aboutMe';
  }

article.profile figure figcaption{
  display: none;
}
}





/* Font Reference */

/* 
font-family: 'Big Shoulders Display', cursive;

font-family: 'Big Shoulders Stencil Text', cursive;

font-family: 'Inter', sans-serif;

font-family: 'Lexend Deca', sans-serif;

font-family: 'Ubuntu', sans-serif; 

*/

/*  */