*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
nav.visible-nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #57c4e5;
}
div.logo {
  flex: 1;
}

div.logo h1 {
  font-family: "Big Shoulders Stencil Text", cursive;
  word-spacing: 0.25rem;
  letter-spacing: 0.125rem;
  font-size: 2.25rem;
  white-space: nowrap;
}

div.logo h1 a {
  color: #333333;
  text-decoration: none;
}

div.nav-links {
  flex: 2;
}

div.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

div.nav-links ul li {
  padding: 0.5rem 1rem;
}

div.nav-links ul li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  color: #232323;
  position: relative;
  top: 0;
  left: 0;
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
}

div.nav-links ul li a::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  transition: 0.25s ease-in;
  background-color: #333333;
}

div.nav-links ul li a:hover:after {
  height: 3px;
  width: 100%;
}

div.social-links {
  flex: 1;
}
div.social-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

div.social-links ul li:first-child {
  margin-right: 1rem;
}

div.social-links ul li a {
  font-size: 1.5rem;
  color: #333333;
}

div.burger-menu-container {
  flex: 0;
  display: none;
}

div.burger-menu-container span.burger-menu::before {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #333333;
  box-shadow: 0 10px 0 #333333;
  transform: translateY(-10px);
  transition: 0.25s ease-in;
}

div.burger-menu-container span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: relative;
  background-color: transparent;
  transition: 0.25s ease-in;
  cursor: pointer;
}

div.burger-menu-container span.burger-menu::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #333333;
  transform: translateY(10px);
  transition: 0.25s ease-in;
}

div.burger-menu-container span.burger-menu:hover::before {
  box-shadow: none;
  transform: translateY(0) rotate(135deg);
  transition: 0.25s ease-in;
}

div.burger-menu-container span.burger-menu:hover::after {
  transform: translateY(0) rotate(-135deg);
  transition: 0.25s ease-in;
}

/* Hidden NAV */

nav.hidden-nav {
  position: fixed;
  min-height: 50vh;
  width: 0;
  overflow: hidden;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px;
  justify-content: center;
  align-content: center;
  background-color: #fdfdfd;
  z-index: 10;
  transition: 0.5s ease-in;
  box-shadow: 3px 3px 10px #333333, -1px -1px 10px #333333;
}
div.burger-menu-container:hover nav.hidden-nav {
  width: 97vw;
}

nav.hidden-nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

nav.hidden-nav > ul li {
  padding: 0.75rem 1rem;
  font-family: "Big Shoulders Display", cursive;
  text-align: center;
  border-bottom: 3px solid #333333;
}

nav.hidden-nav > ul li a {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: "Big Shoulders Display", cursive;
  font-size: 1.5rem;
}
li.hidden-nav-social-link-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media screen and (max-width: 864px) {
  nav.visible-nav {
    justify-content: space-between;
  }
  div.logo {
    flex: 0;
  }

  div.nav-links {
    display: none;
  }
  div.social-links {
    display: none;
  }
  div.burger-menu-container {
    display: block;
  }
}
