*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}
nav.visible-nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3626a7;
}
div.logo {
  flex: 1;
}

div.logo h1 {
  font-family: "Big Shoulders Stencil Text", cursive;
  word-spacing: 0.25rem;
  letter-spacing: 0.125rem;
  font-size: 2.25rem;
  white-space: nowrap;
}

div.logo h1 a {
  color: #fbfbfb;
  text-decoration: none;
}

div.nav-links {
  flex: 2;
}

div.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

div.nav-links ul li {
  padding: 0.5rem 1rem;
}

div.nav-links ul li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  color: #fbfbfb;
  position: relative;
  top: 0;
  left: 0;
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
}

div.nav-links ul li a::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  transition: 0.25s ease-in;
  background-color: #fbfbfb;
}

div.nav-links ul li a:hover:after {
  height: 3px;
  width: 100%;
}

div.social-links {
  flex: 1;
}
div.social-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

div.social-links ul li:first-child {
  margin-right: 1rem;
}

div.social-links ul li a {
  font-size: 1.5rem;
  color: #fbfbfb;
}

div.social-links ul li a:hover {
  font-size: 1.75rem;
}

div.burger-menu-container {
  flex: 0;
  display: none;
}

div.burger-menu-container span.burger-menu::before {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #fbfbfb;
  box-shadow: 0 10px 0 #fbfbfb;
  transform: translateY(-10px);
  transition: 0.25s ease-in;
}

div.burger-menu-container span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: relative;
  background-color: transparent;
  transition: 0.25s ease-in;
  cursor: pointer;
}

div.burger-menu-container span.burger-menu::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #fbfbfb;
  transform: translateY(10px);
  transition: 0.25s ease-in;
}

div.burger-menu-container span.burger-menu:hover::before {
  box-shadow: none;
  transform: translateY(0) rotate(135deg);
  transition: 0.25s ease-in;
}

div.burger-menu-container span.burger-menu:hover::after {
  transform: translateY(0) rotate(-135deg);
  transition: 0.25s ease-in;
}

/* Hidden NAV */

nav.hidden-nav {
  position: fixed;
  min-height: 50vh;
  width: 0;
  overflow: hidden;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px;
  justify-content: center;
  align-content: center;
  background-color: #fdfdfd;
  z-index: 10;
  transition: 0.5s ease-in;
  box-shadow: 3px 3px 10px #333333, -1px -1px 10px #333333;
}
div.burger-menu-container:hover nav.hidden-nav {
  width: 97vw;
}

nav.hidden-nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

nav.hidden-nav > ul li:not(:last-child) {
  padding: 0.75rem 1rem;
  text-align: center;
  border-bottom: 3px solid #333333;
}

nav.hidden-nav > ul li a {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  transition: 0.25s;
}
li.hidden-nav-social-link-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  transition: 0.25s;
}

nav.hidden-nav > ul li:not(:last-child):hover {
  letter-spacing: 0.5rem;
  color: #000000;
  font-weight: bold;
}

nav.hidden-nav > ul li:last-child a:hover {
  font-size: 1.75rem;
}

/* Header */

header {
  min-height: 550px;
  border-radius: 0 0 0 10rem;
  position: relative;
}
header div.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1;
}
div.header-bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0 0 0 10rem;
}

header::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #000000;
  border-radius: 0 0 0 10rem;
  z-index: -1;
}
div.header-content {
  min-height: inherit;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
div.header-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fdfdfd;
}

div.header-desc h1 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.25rem;
  text-align: center;
  font-family: "Big Shoulders Display", sans-serif;
}

div.header-desc p {
  padding: 1rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
}

div.header-btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
a.header-btn {
  padding: 1rem 2rem;
  /* color: #323232; */
  color: #fdfdfd;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  border-radius: 0.5rem;
  font-weight: 700;
  background-color: #3626a7;
  white-space: nowrap;
  letter-spacing: 0.0125rem;
}

main {
  margin-top: 5rem;
  padding: 2rem;
}
h1.section-title {
  text-align: center;
  margin: 8rem auto 2rem auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.75rem;
}
section#about {
  padding: 2rem;
  min-height: 80vh;
  max-width: 99vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  grid-template-areas: "aboutMe" "profileImg";
}
article.about-me {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-area: aboutMe;
}

article.about-me p {
  text-align: center;
  font-family: "Inter", sans-serif;
  line-height: 2rem;
  font-size: 1.25rem;
}

article.profile figure {
  grid-area: profileImg;
}

article.profile figure img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

article.profile figure figcaption {
  text-align: center;
  font-size: 1.25rem;
  font-family: "Lexend Deca", sans-serif;
}

section#skills {
  min-height: 80vh;
  padding: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: hsla(233, 47%, 7%, 1);
  border-radius: 1rem 5rem 1rem 5rem;
}

article.skill {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 5rem 1rem 5rem;
}
i.skill-logo {
  text-align: center;
  font-size: 3rem;
  /* color: #3626a7; */
  color: #3626a7;
}
h3.skill-title {
  font-size: 1.5rem;
  color: #3626a7;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
}
div.skill-percentage {
  height: 1.5rem;
  width: 100%;
  position: relative;
  background-color: #232323;
  border-radius: 0.25rem;
}

div.skill-percentage p {
  display: block;
  padding: 0.125rem;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-family: "Lexend Deca", sans-serif;
  background-color: #3626a7;
  border-radius: 0.25rem;
  color: #fbfbfb;
}

div.skill-percentage p.html {
  width: 77%;
}

div.skill-percentage p.css {
  width: 60%;
}

div.skill-percentage p.js {
  width: 55%;
}

div.skill-percentage p.linux {
  width: 47%;
}

div.skill-percentage p.terminal {
  width: 41%;
}

/* Projects */
section#projects {
  min-height: 80vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
h1.project-title {
  margin: 1rem auto;
  font-size: 2rem;
  text-align: center;
  font-family: "Big Shoulders Display", cursive;
  letter-spacing: 0.125rem;
  word-spacing: 0.25rem;
}

article.project {
  padding: 1rem;
  position: relative;
  border-radius: 0.5rem;
}

article.project img{
  border-radius: 0.5rem;
}

article.project::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 2;
  background-color: #333333;
  border-radius: 0.5rem;
  background-image: url("");
  backdrop-filter: blur(100px);
  display: none;
  animation: preview-animate 0.25s ease-in-out;
}

a.project-btn {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  padding: 1rem 2rem;
  border: 2px solid #3626a7;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fdfdfd;
  border-radius: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  display: none;
  animation: preview-animate 0.25s ease-in;
}

article.project:hover::after,
article.project:hover a.project-btn {
  display: block;
}
@keyframes preview-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

button.project-btn span {
  display: inline-block;
  margin-right: 0.5rem;
}
section#contact{
  padding: 3rem;
  background-color:hsla(233, 47%, 7%, 1);
  border-radius: 5rem 1rem 5rem 1rem;
  min-height: 80vh;
}

form#contact-form{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(332.5px, 1fr));
  gap: 1.5rem;
  min-height: 80vh;
  padding: 1rem;
}
div.sender-details{
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

div.sender-details div{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.sender-details input{
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: #fbfbfb;
  padding: 0.5rem;
  outline: none;
  font-size: 1.0rem;
  border-bottom: 2px solid #3626a7;
  font-family: 'Ubuntu', sans-serif; 
}
div.message{
  min-width: 100%;
  padding-bottom: 1rem;
}

div.message textarea {
  min-height: 90%;
  width: 100%;
  border: 0.5rem solid hsla(233, 47%, 7%, 1);
  padding: 1rem;
  background-color: transparent;
  color: #fbfbfb;
  outline: none;
  resize: none;
  border: 2px solid #3626a7;
  margin-bottom: 1rem;
  font-size: 1rem;
}
a.send-btn{
  margin: 1rem;
  max-height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  color: #fbfbfb;
  text-decoration: none;
  text-align: center;
  background-color: #3626a7;
  font-family: 'Ubuntu', sans-serif; 
  font-weight: 700;
  letter-spacing: 0.125rem;
  border-radius: 0.25rem;
}

/* Footer */
footer{
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-content: center;
  gap: 5rem;
  background-color: hsla(233, 47%, 7%, 1);
  border-radius: 3rem 3rem 0 0;
  margin-top: 5rem;
}
h2.footer-title{
  color: #fdfdfd;
  text-align: center;
  margin-top: 1rem;
}

footer div ul{
  list-style-type: none;
}

footer div ul li{
  color: #fbfbfb;
  margin-top: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

footer div ul li a{
  color: #fbfbfb;
  font-family: monospace;
  display: inline-block;
  margin-left: 1rem;
}
i.envelope{
  font-size: 1.5rem;
}

footer div ul:first-child li {
  text-align: center;
}

p.footer-copyright-txt{
  background-color: #000000;
  color: #fbfbfb;
  text-align: center;
  font-family: 'Inter', sans-serif;
  padding: 1rem 0 0.5rem 0;
}

@media screen and (max-width: 864px) {
  nav.visible-nav {
    justify-content: space-between;
  }
  div.logo {
    flex: 0;
  }

  div.nav-links {
    display: none;
  }
  div.social-links {
    display: none;
  }
  div.burger-menu-container {
    display: block;
  }
  div.sender-details div{
    height: 100%;
  }


}
@media screen and (max-width: 732px) {
  main {
    padding: 0.5rem;
  }
  section#about {
    padding: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas: "profileImg" "aboutMe";
  }

  article.profile figure figcaption {
    display: none;
  }
}

/* Font Reference */

/* 
font-family: 'Big Shoulders Display', cursive;

font-family: 'Big Shoulders Stencil Text', cursive;

font-family: 'Inter', sans-serif;

font-family: 'Lexend Deca', sans-serif;

font-family: 'Ubuntu', sans-serif; 

*/

/*  */
